{% extends "layout.html" %}
{% block title %}OO-Notes{% endblock %}
{% block content %}

<div class="container">

  <p class="home-hello"> Hi, welcome to </p>
  <h1 class="home-name"> OOZero Note Taking. </h1>
  <h1 class="home-intro"> A simple website to take your notes. </h1>
  <div class="col-sm-12 col-md-6">
  <p class="home-text"> Everyone here at OOZero Notetaking takes your privacy and your priorities as our number one goal. So feel free to sign up and give us a try!
  </div>
    <form method="post" action="/signup/">
      <input type="submit" class="btn btn-primary background white boarder" type="submit" value="Signup - It's Free!" />
    </form>
  <br><br>
</div>

<script>
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
</script>

{% endblock %}
